@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
html, body {
  overflow-x: hidden;
}
.swiper-button-next,
.swiper-button-prev {
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #ff7a00;
  color: white !important;
}

